<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/styles.css"/>
    <title>Vinos</title>
    <!-- Navbar -->
    <div class="navbar">
        <a href="http://127.0.0.1:5000/">Inicio</a>
        <a href="http://127.0.0.1:5000/productos">Productos</a>
        <a href="http://127.0.0.1:5000/proveedores">Proveedores</a>
        <a href="http://127.0.0.1:5000/pedidos">Pedidos</a>
    </div>
</head>
<body>
   {% block content %}
   {% endblock %}
</body>
</html>